name: Build and Release (Windows)

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build-windows:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pyinstaller

      - name: Build Windows executable
        run: |
          pyinstaller --onefile src\application\main.py ^
            --hidden-import=matplotlib.backends.backend_svg ^
            --hidden-import=PIL._tkinter_finder ^
            --paths=.
          rename dist\main.exe main-windows.exe

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: gui-executable-windows
          path: dist\main-windows.exe

  release-windows:
    needs: build-windows
    runs-on: windows-latest

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: gui-executable-windows
          path: .

      - name: Create Windows Release
        uses: softprops/action-gh-release@v2
        with:
          name: "Windows Release ${{ github.sha }}"
          tag_name: "windows-${{ github.sha }}"
          files: main-windows.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
